'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'LocalServerExpress'
      'submenu': [
        {
          'label': 'Run Server'
          'command': 'local-server-express:run'
        }
      ]
    ]
  }
]
